# ЭТО ПРИМЕР ФАЙЛА .env !! ВАМ НАДО ЭТОТ ФАЙЛ ПЕРЕИМЕНОВАТЬ И ВСТАВИТЬ ТУДА ЗНАЧЕНИЯ.
# ЭТИ КОММЕНТАРИИ НАДО УДАЛИТЬ!


ADMINS=1QQQQQQQQ
CHAT=QQQQQQQQ
BOT_TOKEN=33333333333333333333333333333333333333333333
ip=localhost

HOST=localhost
PORT=3306
USER=root
PASSWORD=WWWWWW
DATABASE=base